body {
  background-image: url("../img/background3.jpeg");
  background-repeat: repeat;
  font-family: 'Fugaz One', cursive;
  font-size: 16px;
}

img {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

p {
  font-weight: bold;
  font-size: 20px;
}

li {
  list-style: none;
}

.bold {
  font-weight: bold;
  font-size: 20px:
}

.order-form-box {
  background-image: url("../img/parch.jpeg");
  background-color: #fff;
  height: 650px;
  width: 50%;
  padding: 40px;
  position: absolute;
  top: 275px;
  left: 100px;
  box-shadow: 2px 5px 5px 5px black;
  transform: rotate(-8deg);
  z-index: -1;
}

#display-order {
  background-image: url("../img/parch.jpeg");
  height: 450px;
  width: 50%;
  padding: 40px;
  position: absolute;
  top: 275px;
  right: 50px;
  box-shadow: 2px 5px 5px 5px black;
  transform: rotate(8deg);
  z-index: -1;
}

/*media starts here*/

@media (max-width: 1200px) {
  img{
    display: none;
  }

  .order-form-box {
    background-image: url("../img/parch.jpeg");
    background-color: #fff;
    padding: 4px;
    height: 575px;
    position: absolute;
    top: 45px;
    left: 50px;
    width: 50%;
    box-shadow: 2px 5px 5px 5px black;
    transform: rotate(-8deg);
  }

  #display-order {
    background-image: url("../img/parch.jpeg");
    height: 350px;
    padding: 40px;
    z-index: -1;
    transform: rotate(8deg);
    position: absolute;
    top: 40px;
    right: 25px;
    box-shadow: 2px 5px 5px 5px black;
}
