body {
  background-image: url("../img/background3.jpeg");
  background-repeat: repeat;
}

form {
  background-color: #fff;
  padding: 40px;
  border-radius: 15px;
}

img {
  height: 300px;

}

li {
  list-style: none;
}

#display-order {
  background-color: #fff;
  height: 350px;
  padding: 40px;
  border-radius: 15px;
}
